# Created by .ignore support plugin (hsz.mobi)
### Yii template
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/

/.ftpquota
/vendor/
.idea/*
.idea
runtime/*
runtime

/.idea/markdown-exported-files.xml
/.idea/dolibar.iml
/.idea/markdown-navigator.xml
/.idea/dataSources.local.xml
/.idea/modules.xml
/.idea/dbnavigator.xml
/.idea/webServers.xml
/.idea/cssxfire.xml
/.idea/dataSources.ids
/.idea/copyright/
/.idea/dataSources.xml
/.idea/deployment.xml
/.idea/basic.iml
/.idea/markdown-navigator/
/.idea/misc.xml
/.idea/vcs.xml
/.idea/workspace.xml
